<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" backupStaticAttributes="false" bootstrap="vendor/autoload.php" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" printerClass="Codedungeon\PHPUnitPrettyResultPrinter\Printer" processIsolation="false" stopOnFailure="false" stopOnError="false" verbose="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">./src</directory>
    </include>
    <exclude>
      <directory suffix=".blade.php">./src/</directory>
    </exclude>
  </coverage>
  <testsuites>
    <testsuite name="Acl">
      <directory suffix="Test.php">./tests/Feature/Acl</directory>
    </testsuite>
    <testsuite name="Password">
      <directory suffix="Test.php">./tests/Feature/Password</directory>
    </testsuite>
    <testsuite name="Unit">
      <directory suffix="Test.php">./tests/Unit</directory>
    </testsuite>
  </testsuites>
  <php>
    <env name="APP_NAME" value="Laravolt"/>
    <env name="APP_ENV" value="testing"/>
    <env name="APP_KEY" value="base64:atpBwxjsdP69lUoQ4LXpWhSVbB6Fsv7FfPgN7eF+KzM="/>
    <env name="APP_DEBUG" value="true"/>
    <env name="APP_URL" value="http://127.0.0.1:8000"/>
    <env name="CACHE_DRIVER" value="file"/>
    <env name="DB_CONNECTION" value="mysql"/>
    <env name="DB_DATABASE" value="laravolt_testing"/>
    <env name="DB_HOST" value="127.0.0.1"/>
    <env name="DB_PORT" value="3306"/>
    <env name="DB_USERNAME" value="root"/>
    <env name="DB_PASSWORD" value=""/>
    <env name="SESSION_DRIVER" value="file"/>
    <env name="SESSION_LIFETIME" value="120"/>
    <env name="SCOUT_DRIVER" value="null"/>
    <env name="QUEUE_DRIVER" value="sync"/>
  </php>
</phpunit>
