$sidebar-width-none: 0;
$sidebar-width-thin: 150px;
$sidebar-width-normal: 250px;
$sidebar-width-wide: 300px;

$header-height: 40px;
$header-width: calc(100% - #{$sidebar-width-normal} + 2px);

$red: #DB2828;
$orange: #F2711C;
$yellow: #FBBD08;
$olive: #B5CC18;
$green: #21BA45;
$teal: #00B5AD;
$blue: #2185D0;
$violet: #6435C9;
$purple: #A333C8;
$pink: #E03997;
$brown: #A5673F;
$grey: #767676;
$classic: $grey;
$black: #1B1C1D;
$white: #FFFFFF;

$coolGrey: #fbfdfe;
$warmGrey: #FAFAF9;
$trueGrey: rgba(249, 250, 251, 1);

$colors: (
        'red':$red,
        'orange': $orange,
        'yellow':$yellow,
        'olive':$olive,
        'green': $green,
        'teal': $teal,
        'blue': $blue,
        'violet': $violet,
        'purple': $purple,
        'pink': $pink,
        'brown': $brown,
        'grey': $grey,
        'classic': $classic,
        'black':$black,
        'white':$white
);

:root {
  @each $name, $color in $colors {
    --#{$name}: #{$color};
  }
}
