@each $name, $color in $colors {
  .ui.ui.ui.label.#{$name}.solid {
    border-color: transparent;
    color: #FFFFFF;
    background-color: $color;
  }
  .ui.ui.ui.label.#{$name} {
    border-color: transparent;
    color: rgba($color, 0.9);
    background-color: rgba($color, 0.1);
    &.empty {
      background-color: rgba($color, 1);
    }
  }
  .ui.ui.ui.label.#{$name}.basic {
    border-color: rgba($color, 0.5);
    background-color: transparent;
    &.empty {
      border-color: rgba($color, 1);
    }
  }

}
