[data-sidebar-density="compact"] {
  nav.sidebar {
    .ui.attached.menu .item > .header {
      padding-left: 1em;
      margin-top: 1em;
    }

    .sidebar__accordion.ui.accordion .ui.list .item,
    .sidebar__accordion.ui.accordion .title {
      padding: 0.5em 0.5em;
      line-height: 1.25rem;

      &__2 {
        margin-left: 2.5em !important;
      }

      &__3 {
        padding-left: 4em !important;;
      }
    }

    .sidebar__accordion.ui.accordion {
      .content {

        &.active:before, &.animating:before {
          left: 1rem;
        }
      }
    }

    .sidebar__profile {
      margin-top: 1em;
      margin-bottom: 1em;
    }
  }
}
