table.ui.table {
  thead th, tbody td.numbering {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: .8em;
    color: #686f73;
  }

  thead > tr > th {
    font-weight: 700;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
  }

  tbody td.numbering {
    text-align: center;
    background: $coolGrey;
    font-weight: 700;
  }

  tbody td {
    overflow-wrap: anywhere;
  }

  &.scrolling {
    overflow-x: auto;
    width: fit-content;
    max-width: 100%;
    display: block;
  }

  &.definition {
    caption {
      font-weight: 700;
      text-align: left;
      font-size: 1.25rem;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
    tr > td:last-child {
      overflow-wrap: anywhere;
    }
  }

  .placeholder {
    .ui.header, .ui.header i.icon {
      color: #bdc5ca;
    }
  }
}

[data-role="suitable"] {
  background: $coolGrey;

  //Hide pagination number on mobile
  [data-role="pagination"] {
    .item.dots, .item.number {
      @media only screen and (max-width: 767px) {
        display: none;
      }
    }
  }

  .ui.progress.attached {
    .bar {
      background-color: transparent;
      height: .2em;
    }
  }
}

.panel.x-suitable {
  .top.attached.menu {
    border-top: 0 none;
  }

  .ui.bottom.attached.menu {
    border-bottom: 0 none;
    background: $coolGrey;

    .item {
      color: #8090a0;
    }
  }
}

[data-role="suitable-header"] {
  &.ui.menu {
    background-color: $coolGrey;
  }
}

[data-role="suitable-filter"] {
  .ui.form .field > label {
    font-size: .85em;
    text-transform: uppercase;
  }

  .ui.form .field .grouped.fields .field .ui.checkbox {
    margin-top: 0;
  }
}

