#titlebar {
  .left.menu {
    .item {
      padding: 0;
    }
    .item, .item a {
      color: #869fbd;
    }
    .item {
      font-size: 1.1rem;
      font-weight: 700;
    }
    .item.divider {
      padding: 0 0.5rem;
    }
  }
  .button {
    margin-right: .5em;
  }
}
