@each $name, $color in $colors {
  .ui.button.#{$name}.secondary {
    color: darken($color, 10%);
    background-color: rgba($color, 0.1);
    &:hover, &:focus {
      background-color: rgba($color, 0.2);
    }
  }
  .ui.button.#{$name}.basic {
    color: darken($color, 10%);
    box-shadow: 0 0 0 1px rgba($color, .5) inset;
    font-weight: 700;
  }

  .ui.button.#{$name}.link {
    color: darken($color, 10%);
    background-color: transparent;
    font-weight: 700;
  }
}
