.x-card {
  &__header {

  }
  &__footer {

  }
  &__meta {
    &--before {
      margin-bottom: 1em;
    }
    &--after {
      margin-top: 1em;
    }
  }
}
.x-cards.ui.cards > .card , .x-cards.ui.card  {
  > .content, > .extra {
    border-top: 0 none !important;
  }
}
