.layout--split {
  display: flex;
  min-height: 100vh;
  justify-content: center;

  @media only screen and (max-width: 767px) {
    flex-direction: column;
    justify-content: flex-start;
    [data-role="inspire"] {
      flex: 0 0 50px;
      .ui.container.text {
        display: none;
      }
    }
    &[data-role="main"] {
      flex: 1;
    }
  }

  > div {
    flex: 1;
    display: flex;

    &[data-role="inspire"] {

    }

    &[data-role="main"] {
      flex: 0 0 500px;
    }

    [data-role="content"] {
      align-self: center;
      flex: 1;
    }
  }
}
