.layout--split {
  display: flex;
  min-height: 100vh;
  justify-content: center;

  > div {
    display: flex;
  }

  .x-inspire {
    flex: 1;
    .ui.container.text {
      font-size: 3rem;
    }
    &__content {
      align-self: center;
      flex: 1;
    }
  }

  .x-auth {
    flex: 0 0 500px;
    background: #FFFFFF;
    &__content {
      align-self: center;
      flex: 1;
      padding: 4em;
    }
  }

  @media only screen and (max-width: 991px) {
    flex-direction: column;
    justify-content: flex-start;
    .x-inspire {
      flex: 0 0 50px !important;

      .ui.container.text {
        display: none;
      }
    }
    .x-auth {
      flex-grow: 1;
    }
  }

}
