$body-bg: #f1f5f9;
$sidebar-bg: #1a202e;
$header-color: var(--app-accent-color);
$menu-item-color: #cfd8e3;
$menu-item-active-indicator: #a6a8b1;

[data-theme="dark"] {
  background: $body-bg;

  [data-role="brand"] .ui.header {
    color: $menu-item-color;
  }

  #actionbar {
    background: $white;
    border-bottom: 1px solid darken($body-bg, 5%);
  }

  .sidebar {
    .sidebar__scroller {
      background-color: $sidebar-bg;

      .sidebar__profile {
        .ui.header {
          color: var(--app-accent-color);
          .sub.header {
            color: $menu-item-color;
          }
        }
      }

      .ui.menu.vertical {
        background: transparent;

        .icon.left {
        }

        i.angle.icon {
        }

        .item {
          color: $menu-item-color;

          > .header {
            color: $header-color;
          }

          &:before {

          }
        }
      }
    }

    .sidebar__menu {
      .brand {
        color: $menu-item-color;
      }

      .ui.menu {

      }
    }

    .sidebar__accordion.ui.accordion {

      .title {
        color: $menu-item-color;

        &.up-current {
          &.empty {
            background: darken($sidebar-bg, 5%);
          }
        }

        &:hover {
          background: darken($sidebar-bg, 5%);
        }
      }

      .content {
        //background-color: darken($sidebar-color, 5%);
        .ui.list {
          .item {
            color: $menu-item-color;

            &:hover {
              background: darken($sidebar-bg, 7.5%);
            }

            &.up-current {
              background: darken($sidebar-bg, 7.5%);
              font-weight: normal;
            }
          }
        }
      }

    }

  }

}
