$body-bg: $trueGrey;
$sidebar-bg: $white;
$header-color: var(--app-accent-color);
$menu-item-color: $black;

[data-theme="light"] {
  background: $body-bg;

  [data-role="brand"] .ui.header {
    color: $menu-item-color;
  }

  #topbar.ui.menu {
    background: $body-bg;
    box-shadow: none;
    border-bottom: 1px solid darken($body-bg, 5%);
  }

  #actionbar {
    background: $white;
    border-bottom: 1px solid darken($body-bg, 5%);
  }

  .sidebar {
    .sidebar__scroller {
      background-color: $sidebar-bg;
      border-right-color: darken($body-bg, 5%);

      .sidebar__profile {
        .ui.header {
          color: var(--app-accent-color);
          .sub.header {
            color: $menu-item-color;
          }
        }
      }

      .ui.menu.vertical {
        background: transparent;

        .icon.left {
        }

        i.angle.icon {
        }

        .item {
          color: $menu-item-color;

          > .header {
            color: $header-color;
          }

          &:before {

          }
        }
      }
    }

    .sidebar__menu {
      .brand {
        color: $menu-item-color;
      }

      .ui.menu {

      }
    }

    .sidebar__accordion.ui.accordion {

      .title {
        color: $menu-item-color;

        &.selected {
          &.empty {
            background: darken($body-bg, 5%);
          }
        }

        &:hover {
          background: darken($body-bg, 5%);
        }
      }

      .content {

        .ui.list {
          .item {
            color: $menu-item-color;

            &:hover {
              background: darken($body-bg, 5%);
            }

            &.selected {
              background: darken($body-bg, 5%);
              font-weight: normal;
            }
          }
        }
      }

    }

  }

}
