[data-theme="basik"] {

  $body-color:#f9f9fa;
  $topbar-color: rgba($body-color, .9);
  $sidebar-color: #f5f5f6;
  $text-color: #5e676f;
  $header-color: lighten($text-color, 35%);
  $icon-color: lighten($text-color, 35%);
  $blue: #448bff;

  background: $body-color;
  color: #192039;

  header.ui.menu {
    background: $topbar-color;
  }

  .sidebar {

    .brand {
      color: #FFFFFF;
    }

    .sidebar__scroller {
      border-right: 0 none;
      background-color: $sidebar-color;

      .ui.menu.vertical {
        background: transparent;

        .icon.left {
          color: $icon-color;
          padding-right: 1.5rem;
        }

        i.angle.icon {
          color: $icon-color;
        }

        .item {
          color: $text-color;
          > .header {
            color: $header-color;
            &.brand {
              color: $text-color;
            }
          }
          &:before {

          }
        }
      }
    }

    .sidebar__menu {
      .brand {
        color: $text-color;
      }
      .ui.menu {

      }
    }

    .sidebar__accordion.ui.accordion {

      .title.empty.selected, .content .ui.list .item.selected {
        color: $blue;
        .icon.left {
          color: $blue;
        }
      }

      .title, .content .item {
        &:hover {
          background-color: darken($sidebar-color, 5%);
        }
      }

      .title {
        color: $text-color;
      }

      .content .ui.list .item {
        color: $text-color;
      }

    }

  }

  .panel.ui.segments {
    box-shadow: 0 1px 3px rgba(0,0,0,.05);
    border: 0 none;
    border-radius: .25rem;

    .panel__header.ui.segment {
    }

    .ui.segment {
      border-color: rgba(160,175,185,.15);
    }

    .ui.table, .ui.table.definition {
      border: 0 none;
      th, td {
        border: 0 none;
        box-shadow: 0 1px 0 rgba(160,175,185,.05), 0 -1px 0 rgba(160,175,185,.05);
      }
      [data-role="pagination"] {

      }
    }

    .ui.table.definition {
      caption {
        color: $header-color;
        letter-spacing: 1px;
      }
      td {
        background: #fafafa;
      }
    }

    &[data-role="suitable"] {
      .ui.menu {
        border: 0 none;
      }
      > .bottom.menu {
        padding: 1rem;
        .item:before {
          width: 0;
        }
      }

    }
  }

}
