$sidebar-color: #0052CC;
$menu-item-color: #FFFFFF;
$menu-item-header: #b3d4ff;
$icon-color: #b3d4ff;
$menu-item-active-indicator: #b3d4ff;

[data-theme="blue"] {

  .sidebar {
    .sidebar__scroller {
      background-color: $sidebar-color;

      .ui.menu.vertical {
        .icon.left {
          color: $icon-color;
        }

        i.angle.icon {
          color: $icon-color;
        }

        .item {
          color: $menu-item-color;
          > .header {
            color: $menu-item-header;
          }
          &:before {

          }
        }
      }
    }

    .sidebar__menu {
      .brand {
        color: $menu-item-color;
      }
      .ui.menu {

      }
    }

    .sidebar__accordion.ui.accordion {

      .title {
        color: $menu-item-color;
        &.selected {
          &.empty {
            background: darken($sidebar-color, 5%);
            border-left: 5px solid $menu-item-active-indicator;
            padding-left: calc(1.5rem - 5px);
          }
        }
        &:hover {
          background: darken($sidebar-color, 5%);
        }
      }

      .content {
        //background-color: darken($sidebar-color, 5%);
        .ui.list {
          .item {
            color: $menu-item-color;

            &:hover {
              background: darken($sidebar-color, 7.5%);
            }
            &.selected {
              background: darken($sidebar-color, 7.5%);
              font-weight: normal;
              border-left: 5px solid $menu-item-active-indicator;
              padding-left: calc(4.5rem - 5px);
            }
          }
        }
      }

    }

  }

}
