$body-bg: #f1f5f9;
$sidebar-bg: #1a202e;
$header-color: var(--app-accent-color);
$menu-item-color: #cfd8e3;
$menu-item-active-indicator: #a6a8b1;

[data-theme="dark"] {
  background: $body-bg;
  .x-inspire {
    font-weight: 100;
    color: #FFFFFF;
    background-color: #0c296a;
    background-repeat: no-repeat;
    background-size: cover;
  }

  [data-role="brand"] .ui.header {
    color: $menu-item-color;
  }

  .sidebar {
    .sidebar__scroller {
      background-color: $sidebar-bg;

      .ui.menu.vertical {
        background: transparent;

        .icon.left {
        }

        i.angle.icon {
        }

        .item {
          color: $menu-item-color;

          > .header {
            color: $header-color;
          }

          &:before {

          }
        }
      }
    }

    .sidebar__menu {
      .brand {
        color: $menu-item-color;
      }

      .ui.menu {

      }
    }

    .sidebar__accordion.ui.accordion {

      .title {
        color: $menu-item-color;

        &.selected {
          &.empty {
            background: darken($sidebar-bg, 5%);
          }
        }

        &:hover {
          background: darken($sidebar-bg, 5%);
        }
      }

      .content {
        //background-color: darken($sidebar-color, 5%);
        .ui.list {
          .item {
            color: $menu-item-color;

            &:hover {
              background: darken($sidebar-bg, 7.5%);
            }

            &.selected {
              background: darken($sidebar-bg, 7.5%);
              font-weight: normal;
            }
          }
        }
      }

    }

  }

}
