$sidebar-color: #1F2136;
$text-color: #A9AEA7;
$text-color-selected: #D6524D;

[data-theme="galaxy"] {
  background: #f3f3f7;


  header.ui.menu {
    //background: #282B45;
  }

  .sidebar {
    .sidebar__wrapper {
      border-right: 0 none;
      background-color: $sidebar-color;

      .ui.header.brand {
        color: $text-color;
        overflow: hidden;
        //height: 63px;
        font-size: 1.75rem;
        text-align: center;
      }

      .ui.menu.vertical {
        background: transparent;

        .icon.left {
          color: #4E557A;
        }

        i.angle.icon {
          color: $text-color;
        }

        .item {
          color: $text-color;
          > .header {
            color: #6f7aae;
            font-size: .9em;
            font-weight: 700;
          }
          &:before {

          }
        }
      }
    }

    .sidebar__menu {
      .brand {
        color: $text-color;
      }
      .ui.menu {

      }
    }

    .sidebar__accordion.ui.accordion {

      .title {
        color: $text-color;
        //font-weight: 700;
        //text-transform: uppercase;
        //font-size: .9em;
        &.active, &:hover {
          background-color: darken($sidebar-color, 5%);
        }
        &:hover {
          color: lighten($text-color, 15%);
        }
        &.empty.current{
          color: $text-color-selected;
          .icon.left {
            color: #6EA4A6;
          }
        }
      }

      .content {
        background-color: darken($sidebar-color, 5%);
        .ui.list {
          .item {
            color: darken($text-color, 10%);
            padding-left: 3.7em;

            &:hover {
              color: lighten($text-color, 15%);
              background-color: darken($sidebar-color, 5%);
            }
            &.active {
              background-color: darken($sidebar-color, 5%);
              font-weight: normal;
              color: $text-color-selected;
            }
          }
        }
      }

    }

  }

}
