$sidebar-color: $pink;
$menu-item-color: $white;
$menu-item-header: lighten($sidebar-color, 30%);
$icon-color: lighten($sidebar-color, 25%);

[data-theme="pink"] {

  .sidebar {
    .sidebar__wrapper {
      background-color: $sidebar-color;

      .ui.menu.vertical {
        .icon.left {
          color: $icon-color;
        }

        i.angle.icon {
          color: $icon-color;
        }

        .item {
          color: $menu-item-color;
          > .header {
            color: $menu-item-header;
            &.brand {
              color: $white;
            }
          }
          &:before {

          }
        }
      }
    }

    .sidebar__accordion.ui.accordion {

      .title {
        color: $menu-item-color;
        &.selected {
          &.empty {
            background: darken($sidebar-color, 5%);
          }
        }
        &:hover {
          background: darken($sidebar-color, 5%);
        }
      }

      .content {
        .ui.list {
          .item {
            color: $menu-item-color;

            &:hover {
              background: darken($sidebar-color, 7.5%);
            }
            &.selected {
              background: darken($sidebar-color, 7.5%);
            }
          }
        }
      }

    }

  }

}
