$sidebar-color: #594f8d;
$background-color: linear-gradient(180deg, #5F2DA0 0%, #6E3A98 100%);
$text-color: #bdb8d7;
$color-white: #fff;
$color-purple: #3E0E79;
$text-color-selected: #e9b92a;

[data-theme="purple"] {
  background: #f3f5f9;

  .sidebar {
    .sidebar__wrapper {
      background-repeat: no-repeat;
      background-image:url(../img/eclipse-purple.svg);
      background-size: cover;
      background-position: left top;
      border-right: 0 none;
      background: $background-color;

      .ui.header.brand {
        color: $text-color;
        background: $color-white;
        overflow: hidden;
        margin-bottom: 0px;
        //height: 63px;
        font-size: 1.75rem;
        text-align: center;
      }
      .ui.menu.vertical.bg-white {
        background: $color-white;
        i.search.icon {
          background: linear-gradient(180deg, #5F2DA0 0%, #6E3A98 100%);
          color: #fff;
          border-radius: 5px;
          opacity: 1;
        }
        input {
          border: solid #3E0E79;
          border-radius: 5px;
        }
      }
      .ui.menu.vertical {
        background: transparent;

        .icon.left {
        }

        i.angle.icon {
        }

        .item {
          color: $text-color;
          > .header {
            color: #fff;
            font-size: .8em;
            font-weight: 500;
          }
          &:before {

          }
        }
      }
    }

    .sidebar__menu {
      .brand {
        color: $text-color;
      }
      .ui.menu {

      }
    }

    .sidebar__accordion.ui.accordion {

      .title {
        color: $color-white;
        font-weight: 700;
        text-transform: uppercase;
        font-size: .9em;
        &.active, &:hover {
          background-color: $color-purple;
        }
        &:hover {
          color: lighten($text-color, 15%);
        }
        &.empty.current{
          color: $text-color-selected;
        }
      }

      .content {
        background-color: $color-purple;
        .ui.list {
          .item {
            color: $color-white;
            padding-left: 3.7em;

            &:hover {
              color: lighten($text-color, 15%);
              background-color: darken($sidebar-color, 5%);
            }
            &.active {
              background-color: darken($sidebar-color, 5%);
              font-weight: normal;
              color: $text-color-selected;
            }
          }
        }
      }

    }

  }

}
