$sidebar-color: #DB2828;
$menu-item-color: #FFFFFF;
$menu-item-header: #fbcac6;
$icon-color: #fbcac6;

[data-theme="red"] {

  .sidebar {
    .sidebar__scroller {
      background-color: $sidebar-color;

      .ui.menu.vertical {
        .icon.left {
          color: $icon-color;
        }

        i.angle.icon {
          color: $icon-color;
        }

        .item {
          color: $menu-item-color;
          > .header {
            color: $menu-item-header;
          }
          &:before {

          }
        }
      }
    }

    .sidebar__menu {
      .brand {
        color: $menu-item-color;
      }
    }

    .sidebar__accordion.ui.accordion {

      .title.empty.selected, .content .ui.list .item.selected {
        background-color: darken($sidebar-color, 5%);
        background-color: darken($sidebar-color, 5%);
        color: lighten($menu-item-color, 15%);
      }

      .title, .ui.list .item {
        color: $menu-item-color;
        &:hover {
          background: darken($sidebar-color, 5%);
        }
      }
    }
  }
}
