$sidebar-color: #DB2828;
$menu-item-color: #FFFFFF;
$menu-item-header: #fbcac6;
$icon-color: #fbcac6;

[data-theme="red"] {

  a, .ui.tabular.menu a.item.active, .ui.tabular.menu a.item.active:hover, .ui.list a.item {
    color: $red;
  }

  .x-inspire {
    color: #FFFFFF;
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23220000' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23440000' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23660000' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23880000' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23A00' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
  }

  .sidebar {
    .sidebar__scroller {
      background-color: $sidebar-color;

      .ui.menu.vertical {
        .icon.left {
          color: $icon-color;
        }

        i.angle.icon {
          color: $icon-color;
        }

        .item {
          color: $menu-item-color;
          > .header {
            color: $menu-item-header;
          }
          &:before {

          }
        }
      }
    }

    .sidebar__menu {
      .brand {
        color: $menu-item-color;
      }
    }

    .sidebar__accordion.ui.accordion {

      .title.empty.selected, .content .ui.list .item.selected {
        background-color: darken($sidebar-color, 5%);
        background-color: darken($sidebar-color, 5%);
        color: lighten($menu-item-color, 15%);
      }

      .title, .ui.list .item {
        color: $menu-item-color;
        &:hover {
          background: darken($sidebar-color, 5%);
        }
      }
    }
  }
}
