$sidebar-color: #335875;
$header-color: #FFFFFF;
$teal: #1bd9bf;
$blue: #103b5d;
$yellow: #ffc000;
$menu-item-color: #87b9d6;

[data-theme="teal"] {

  background: #ededed42;

  header.ui.menu {
    //background-color: darken($teal, 4%);
    .item {
      //font-weight: 700;
    }
  }

  .sidebar {
    .sidebar__wrapper {
      border-right: 0 none;
      background-color: $sidebar-color;

      .ui.header.brand {
        background-color: $sidebar-color;
        color: $yellow;
        overflow: hidden;
        height: 63px;
        font-size: 1.5rem;
        text-align: center;
      }

      .ui.menu.vertical {
        background: transparent;

        .icon.left {

        }

        i.angle.icon {
          color: $teal;
        }

        .item {
          color: $menu-item-color;
          > .header {
            color: $teal;
            font-size: .9em;
          }
          &:before {

          }
        }
      }
    }

    .sidebar__menu {
      .brand {
        color: $menu-item-color;
      }
      .ui.menu {

      }
    }

    .sidebar__accordion.ui.accordion {

      .title {
        color: $menu-item-color;
        text-transform: uppercase;
        font-size: .9em;
        font-weight: 700;
        &.active {
          background: darken($sidebar-color, 5%);
          &.empty {
            border-left: 5px solid $yellow;
            padding-left: calc(1.5rem - 5px);
          }
        }
        &:hover {
          background: darken($sidebar-color, 5%);
        }
      }

      .content {
        background-color: darken($sidebar-color, 5%);
        .ui.list {
          .item {
            color: darken($menu-item-color, 10%);
            padding-left: 3.5rem;

            &.active {
              background: darken($sidebar-color, 5%);
              font-weight: normal;
              border-left: 5px solid $yellow;
              padding-left: calc(3.5rem - 5px);
            }
            &:hover {
              background: darken($sidebar-color, 7.5%);
            }
          }
        }
      }

    }

  }

}
