$sidebar-color: #594f8d;
$text-color: #bdb8d7;
$icon-color: lighten($sidebar-color, 20%);

[data-theme="violet"] {
  background: #f3f5f9;

  a, .ui.tabular.menu a.item.active, .ui.tabular.menu a.item.active:hover, .ui.list a.item {
    color: $violet;
  }
  .x-inspire {
    color: #FFFFFF;
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cg %3E%3Ccircle fill='%23000000' cx='400' cy='400' r='600'/%3E%3Ccircle fill='%23180d1c' cx='400' cy='400' r='500'/%3E%3Ccircle fill='%23261431' cx='400' cy='400' r='400'/%3E%3Ccircle fill='%23351947' cx='400' cy='400' r='300'/%3E%3Ccircle fill='%23451e5e' cx='400' cy='400' r='200'/%3E%3Ccircle fill='%23552277' cx='400' cy='400' r='100'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
  }

  .sidebar {

    .brand {
      color: #FFFFFF;
    }

    .sidebar__scroller {
      border-right: 0 none;
      background-color: $sidebar-color;

      .ui.menu.vertical {
        background: transparent;

        .icon.left {
          color: $icon-color;
        }

        i.angle.icon {
          color: $icon-color;
        }

        .item {
          color: $text-color;
          > .header {
            color: darken($sidebar-color, 25%);
            &.brand {
              color: $text-color;
            }
          }
          &:before {

          }
        }
      }
    }

    .sidebar__menu {
      .brand {
        color: $text-color;
      }
      .ui.menu {

      }
    }

    .sidebar__accordion.ui.accordion {

      .title.empty.selected, .content .ui.list .item.selected {
        background-color: darken($sidebar-color, 5%);
        background-color: darken($sidebar-color, 5%);
        color: lighten($text-color, 15%);
      }

      .title, .content .item {
        &:hover {
          background-color: darken($sidebar-color, 5%);
        }
      }

      .title {
        color: $text-color;
      }

      .content {
        .ui.list {
          .item {
            color: $text-color;
          }
        }
      }

    }

  }

}
