$sidebar-color: #594f8d;
$text-color: #bdb8d7;
$icon-color: lighten($sidebar-color, 20%);

[data-theme="violet"] {
  background: #f3f5f9;


  .sidebar {

    .brand {
      color: #FFFFFF;
    }

    .sidebar__scroller {
      border-right: 0 none;
      background-color: $sidebar-color;

      .ui.menu.vertical {
        background: transparent;

        .icon.left {
          color: $icon-color;
        }

        i.angle.icon {
          color: $icon-color;
        }

        .item {
          color: $text-color;
          > .header {
            color: darken($sidebar-color, 25%);
            &.brand {
              color: $text-color;
            }
          }
          &:before {

          }
        }
      }
    }

    .sidebar__menu {
      .brand {
        color: $text-color;
      }
      .ui.menu {

      }
    }

    .sidebar__accordion.ui.accordion {

      .title.empty.selected, .content .ui.list .item.selected {
        background-color: darken($sidebar-color, 5%);
        background-color: darken($sidebar-color, 5%);
        color: lighten($text-color, 15%);
      }

      .title, .content .item {
        &:hover {
          background-color: darken($sidebar-color, 5%);
        }
      }

      .title {
        color: $text-color;
      }

      .content {
        .ui.list {
          .item {
            color: $text-color;
          }
        }
      }

    }

  }

}
