//no border and shadow
.b-0 {
  border: 0 none !important;
  box-shadow: none !important;
}

.s-2 {
  box-shadow: 0 0 0 1px #d4d4d5, 0 4px 8px 0 rgba(34, 36, 38, .12), 0 4px 20px 0 rgba(34, 36, 38, .15) !important;
}
