.layout--app {

  display: flex;
  flex-direction: row;

  header {
    &.ui.menu {
      height: $header-height;
      border: 0 none;
      left: $sidebar-width-normal;
      width: $header-width;
      max-width: $header-width;

      /* Tablet and below */
      @media only screen and (max-width: 991px) {
        left: 0;
        width: 100%;
        max-width: 100%;
      }
    }
    .ui.menu, .ui.menu .ui.button:hover {
      background: transparent;
    }
  }

  > .content {
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    width: calc(100vw - #{$sidebar-width-normal});

    .content__inner {
      min-height: 800px;
    }

    .content__body:first-child {
      margin-top: $header-height;
    }
  }
}

