.layout--auth {

  .x-inspire {
    font-weight: 100;
    color: #FFFFFF;
    background-color: #0c296a;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .x-inspire__content {
    font-size: 2em;
    line-height: 1.5em;
    text-align: center;
    padding: 2rem;
  }

  &.is-fullscreen {
    display: flex;
    min-height: 100vh;
    justify-content: center;

    .layout--auth__container {
      display: flex;
      @media only screen and (max-width: 991px) {
        flex-direction: column;
        justify-content: flex-start;
      }
      width: 100%;

      > div {
        display: flex;
        padding: 3em;
      }
    }

    .x-inspire {
      flex: 1;

      @media only screen and (max-width: 991px) {
        flex: 0 0 50px !important;
      }

      &__text {
        font-size: 3rem;
        line-height: 1.5em;
        @media only screen and (max-width: 991px) {
          display: none;
        }
      }

      &__content {
        align-self: center;
        flex: 1;
      }
    }

    .x-auth {
      flex: 2;
      background: #FFFFFF;
      @media only screen and (max-width: 991px) {
        flex-grow: 1;
      }

      &__content {
        align-self: center;
        flex: 1;
        max-width: 480px;
        padding: 4em;
        @media only screen and (max-width: 1824px) {
          margin: auto;
          align-self: flex-start;
        }
      }
    }
  }

  &.is-modern {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    width: 100%;
    max-width: 100%;
    min-height: 100vh;
    align-items: center;
    padding-top: 10vh;

    .layout--auth__container {
      @extend .shadow-md;
      display: flex;
      align-content: center;
      width: 960px;
      border-radius: .5em;
      overflow: hidden;

      @media only screen and (max-width: 991px) {
        flex-direction: column;
        justify-content: flex-start;
        width: 95%;
      }

      > div {
        width: 50%;
        display: flex;
        padding: 2em;
        @media only screen and (max-width: 991px) {
          width: 100%;
          padding: 1em;
        }
      }
    }

    .x-inspire {
      display: flex;
      align-items: center;

      &__text {
        @media only screen and (max-width: 991px) {
          display: none;
        }
      }
    }

    .x-auth {
      background: #FFFFFF;
      @media only screen and (max-width: 991px) {
        flex-grow: 1;
      }

      &__content {
        align-self: center;
        flex: 1;
        padding: 0 2em 4em;
        @media only screen and (max-width: 1824px) {
          margin: auto;
          align-self: flex-start;
        }
      }
    }
  }

  &.is-classic {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    width: 100%;
    max-width: 100%;
    min-height: 100vh;
    align-items: center;
    padding-top: 10vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: var(--app-login-background);
    background-color: #0c296a;

    .layout--auth__container {
      @extend .shadow-md;
      background: #fff;
      display: flex;
      align-content: center;
      border-radius: .5em;
      overflow: hidden;
      min-width: 480px;
    }
    .x-inspire {
      display: none;
    }
    .x-auth {
      flex: 1;
      padding: 4em;
    }
  }
}
